<!DOCTYPE html>
<html class="no-js" lang="en" >

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Ingage: Your in-venue Customer Experience Management system</title>

	<link rel="stylesheet" href="../assets/css/dashboard.css">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/vendor/custom.modernizr.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<script src="js/backbone.basicauth.js"></script>
	<script src="js/md5.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="http://timeago.yarp.com/jquery.timeago.js"></script>
	<script src="js/dashboard.backbone.js"></script>
	<script src="js/backbone.paginator.js"></script>
</head>

<body>

	<div class="main-app"></div>

	<script type="text/template" id="login-template">
		<div class="contain-to-grid">
			<header class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="http://ingagelive.com"><img src="images/logo.png" alt="Ingage"></a></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li id="contact-signup"><a href="#">Contact</a></li>      
					</ul>
				</section>
			</header>
		</div>
		<div class="row login">
			<div class="large-4 medium-6 columns hide-for-small-only">
				<p class="primary-message">Your in-venue customer experience management system</p>
			</div>
			<div class="large-3 large-offset-1 columns hide show-for-large-up">
				<img src="images/phone.png" >
			</div>
			<div class="large-3 large-offet-1 small-12 medium-6 columns panel">
				<div class="login-alert">
					<div class="alert-box error" style="display: none;" data-alert="">
						Incorrect Username/Password
					</div>
				</div>
				<form id="login-form" name="login-form" class="login-form">
					<fieldset>
						<div class="form-element">
							<label for="name">Username: </label>
							<input type="text" required id="name" name="username" />
							<label for="password">Password: </label>
							<input type="password" required id="password" name="password" />
						</div>
					</fieldset>
					<div class="form-element">
						<button id="login-submit" type="submit" class="small fullwidth primary">Log in</button>
						<div class="button small fullwidth loading" style="display:none;">
							<span class="loading-text">
								Loading
								<span class="spinner-css">      
									<span class="side sp_left">
										<span class="fill"></span>
									</span>
									<span class="side sp_right">
										<span class="fill"></span>
									</span>
								</span>
							</span>
						</div>
					</div>
				</form>
				<form id="signup-form" name="signup-form" class="signup-form hide">
					<fieldset>
						<div class="form-element">
							<label for="name">Name: </label>
							<input type="text" required id="name" name="name" />
							<label for="email">Email: </label>
							<input type="email" required id="email" name="email" />
							<label for="phone">Phone: </label>
							<input type="tel" id="phone" name="phone" />
						</div>
					</fieldset>
					<div class="form-element">
						<button id="signup-submit" type="submit" class="small fullwidth primary">Sign Up for Free</button>
						<div id="signup-confirm" class="alert-box success small" style="display:none;">Thank you! We are still Cooking. Will keep you updated</div>
					</div>
				</form>    
				<div class="signup fullwidth text-center secondary">
					<a id="load-signup" href="#">Sign Up for a 30 Days free trial</a>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="header-template">
		<div class="contain-to-grid">
			<header class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="http://ingagelive.com"><img src="images/logo.png" alt="Ingage Dashboard"></a></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<!-- <li class="secondary-color namesyntax">Welcome <%= username %></li> -->
                        <li id="nav-overview"><a href="#/overview" >Overview</a></li>
                        <li id="nav-timeline"><a href="#/timeline" >Timeline</a></li>
                        <li id="nav-analytics"><a href="#/analytics" >Analysis</a></li>
                        <li id="nav-crm"><a href="#/crm" >Customers</a></li>
                        <li id="nav-settings"><a href="#/settings" >Settings</a></li>
                        <li id="logout-link"><a href="#" >Log Out</a></li>      
                    </ul>
                </section>
            </header>
        </div>
        <div class="row">
         <div class="small-6 small-centered columns">
            <div class="alert-bar">
                <div id="alert" data-alert class="alert-box" style="display:none;">
                  <div class="alert-text">Your content goes here</div>
                  <a href="#" class="close">&times;</a>
              </div>
              <!-- <div id="loading-bar" data-alert="" class="alert-box loading" style="display:none;">
              <span class="alert-text">
                 Loading
                 <span class="spinner-css">      
                    <span class="side sp_left">
                       <span class="fill"></span>
                   </span>
                   <span class="side sp_right">
                       <span class="fill"></span>
                   </span>
               </span>
           </span>
       </div> -->
   </div>
</div>
</div>
</script>
<script type="text/template" id="overview-template">
<div class="panel">
    <div class="row ov-scores">
    
        <div class="small-4 columns text-center">
            <div class="font-3x">
              64
            </div>
            <h5>Net Promoter Score (NPS)</h5>
        </div>
        <div class="small-4 columns text-center">
            <div class="font-3x">
              6
            </div>
            <h5>Avg. Value for Price Paid</h5>
        </div>
        <div class="small-4 columns text-center">
            <div class="font-3x">
            8<small>%</small>
            </div>
            <h5>Customers Retention and Recovery ratio</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-5 columns">
        <div class="panel">
        <h3>Detractors Feedback <small> Last 7 days</small></h3>
        <hr>
            <ul class="feedback-list recovery-list">
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
                <li class="row collapse"><span class="small-3 tertiary tertiary-color columns">about 3 min ago</span><span class="small-9 columns 
                feedback-content secondary">Some content that needs to be checked for overflow and a lot more things</span> </li>
            </ul>
        </div>
    </div>
    <div class="small-7 columns ov-stats">
        <div class="panel">
            <h3>Summary <small> Last 30 days</small></h3>
            <hr>
            <div class="row">
            <h4 class="bgc columns">Customer Experience</h4>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    640
                    </div>
                <h6>Feedbacks Collected</h6>
                </div>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    32
                    </div>
                <h6>Customers Recovered</h6>
                </div>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    <small>&#8377;</small>360
                    </div>
                <h6>Avg. value of Recovered Customers</h6>
                </div>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    80%
                    </div>
                <h6>Feedback Completion Rate</h6>
                </div>
            </div>   
            <hr>
            <div class="row">
            <h4 class="bc columns">Loyalty</h4>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    960
                    </div>
                <h6>Customer Checkins</h6>
                </div>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    560
                    </div>
                <h6>New Promoters acquired</h6>
                </div>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    <small>&#8377;</small>270
                    </div>
                <h6>Avg. value of Promoters</h6>
                </div>
                <div class="small-3 columns text-center">
                    <div class="font-2x">
                    4.8
                    </div>
                <h6>Avg. visit per Customer</h6>
                </div>
            </div>
            <hr>
            <div class="row">
            <h4 class="dbc columns">Sales</h4>
                <div class="small-6 columns text-center">
                    <div class="font-2x">
                    <small>&#8377;</small>4.8 <small>crores</small>
                    </div>
                <h6>Total Sales</h6>
                </div>
                <div class="small-6 columns text-center">
                    <div class="font-2x">
                    <small>&#8377;</small>160
                    </div>
                <h6>Avg. value of Customer</h6>
                </div>
            </div>
        </div>
    </div>
</div>
</script>


<script type="text/template" id="feedback-timeline-template">
    <div class="row">
        <div class="small-8 columns">
            <h2>Feedback Timeline</h2>
        </div>
        <div class="small-4 columns">
            <div id="reportrange" class="rangepicker-box has-dropdown btn-bg big secondary">
                <i class="fi-calendar"></i><span></span>
            </div>
            <!-- <h5>Select location</h5>
            <select>
                <option>Location 1</option>
                <option>Location 2</option>
                <option>Location 3</option>
                <option>Location 4</option>
            </select> -->
        </div>
    </div>

    <div class="row collapse">
        <div class="sub-nav action-nav">
          <dl class="small-4 columns">
           <!-- <dd class="checkbox-dd cform">
           <input id="selectall" type="checkbox" name="check" value="check1">Select
       </dd>
       <dd>Unread (30)</dd>
       <dd>Mark as Read</dd>
       <dd><i class="fi-trash"></i></dd> -->
       <dd class="naked">Filter by:</dd>
       <dd class="has-dropdown" data-dropdown="hover1">Customer Segments</dd>		
       <ul id="hover1" class="tiny f-dropdown nps-score-filter" data-dropdown-content>			    
        <li><a href="#" style="border-left-color:#5eb95e;" class="promoters">Promoters</a></li>
        <li><a href="#" style="border-left-color:#fbb82d;" class="passive">Passive</a></li>
        <li><a href="#" style="border-left-color:#dd514c;" class="detractors">Detractors</a></li>
    </ul>
    <dd class="has-dropdown" data-dropdown="hover2">Form</dd>       
    <ul id="hover2" class="tiny f-dropdown" data-dropdown-content>                
        <li><a href="#">Form 1</a></li>
        <li><a href="#">Form 2</a></li>
        <li><a href="#">Form 3</a></li>
    </ul>
</dl>
<dl class="small-8 columns">
    <dd class="has-dropdown" data-dropdown="hover3">Export <i class="fi-page-export-csv"></i></dd>
    <ul id="hover3" class="tiny f-dropdown form-filter" data-dropdown-content>			    
        <% _.each(forms, function(form){ %>
            <li><a href="#" data-id="<%= form.get('id') %>"><%= form.get('name') %></a></li>
            <% }); %>
    </ul>
    <dd id="timeline-refresh-button"><i class="fi-refresh"></i></dd>
</dl>
</div>
</div>

<div class="row">
 <div class="small-7 columns feedback-column    ">
  <ul class="feedback-list feedback-timeline">
   <% _.each(feedbacks, function(feedback){ %>
    <li class="row 

    <% if (feedback.get('nps_score') == 10 || feedback.get('nps_score') == 9) {%>
     green
     <% } else if(feedback.get('nps_score') == 8 || feedback.get('nps_score') == 7) { %>
      yellow
      <% } else { %>
       red
       <% } %>
       ">
    <!--<span class="small-1 cform columns">
            <input class="chkb" type="checkbox" name="check" value="check1">  
        </span> -->
    <span class="small-2 columns"><%= feedback.get("instance").location %></span>
    <span class="small-7 columns feedback-content">
        <span class="customer-name namesyntax">
         <% if (feedback.get("customer").name) { %>
          <strong><%= feedback.get("customer").name %></strong>
          <% } else { %>
           No Name
           <% } %>
       </span> - 
       <span class="customer-message">
           <%= feedback.get("feedback_text") %>
       </span>
   </span>
   <span class="small-3 columns text-right secondary secondary-color">
      <%= $.timeago(new Date(feedback.get("received_at"))) %>
  </span>
  <input type="hidden" name="feedback_id" value="<%= feedback.get('id') %>">
</li>
<% }); %>
</ul>
<div class="pagination-centered">
	<ul class="pagination">
		<li class="arrow unavailable">&laquo;</li>
		<% _.each(pagesToShow, function(page){ %>
			<li class=<% page == currentPage ? print('"current"') : print('""') %>><a href="#"><%= page %></a></li>
			<% }); %>
		<li class="arrow unavailable">&raquo;</li>
	</ul>
</div>
</div>
</div>
</script>


<script type="text/template" id="timeline-customer-details-template">
    <aside id="details" class="small-5 columns details-column">
        <div class="panel">

            <h3 class="namesyntax">
                <% if (feedback.get('customer').name) { %>
                    <%= feedback.get('customer').name %>
                    <% } else { %>
                        No Name
                        <% } %>
                    </h3>

                    <div class="row collapse">

                        <div class="small-2 columns">
                            <% if (feedback.get('customer').email) { %>
                                <img src="http://www.gravatar.com/avatar/<%= MD5(feedback.get('customer').email) %>">
                                <% } else { %>
                                    <img src="http://www.gravatar.com/avatar/">
                                    <% } %>
                                </div>

                                <div class="small-7 columns">
                                    <ul class="naked secondary contact-details">
                                        <li> 
                                            <% if (feedback.get('customer').email) { %>
                                                <%= feedback.get('customer').email %>
                                                <% } else { %>
                                                    No e-Mail
                                                    <% } %>
                                                </li>
                                                <li>
                                                    <% if (feedback.get('customer').mobile) { %>
                                                        <%= feedback.get('customer').mobile %>
                                                        <% } else { %>
                                                            No Mobile
                                                            <% } %>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="small-3 columns">
                                                    <div class="feedback-score

                                                    <% if (feedback.get('nps_score') == 10 || feedback.get('nps_score') == 9) {%>
                                                        green
                                                        <% } else if(feedback.get('nps_score') == 8 || feedback.get('nps_score') == 7) { %>
                                                            yellow
                                                            <% } else { %>
                                                                red
                                                                <% } %>

                                                                ">
                                                                <%= feedback.get('nps_score') %>
                                                            </div>
                                                            <div class="secondary-color secondary">
                                                                <i class="fi-clock"></i><% var received_at = new Date(feedback.get("received_at")) %>
                                                                <%= received_at.getHours() %>:<%= received_at.getMinutes() %>
                                                            </div>
                                                            <div class="secondary-color secondary">
                                                                <i class="fi-calendar"></i>
                                                                <%= received_at.getDate() %>-<%= received_at.getMonth() %>-<%= received_at.getFullYear() %>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <% if (feedback.get("feedback_text")) { %>
                                                        <div class="secondary">
                                                            <p><%= feedback.get("feedback_text") %></p>
                                                        </div>
                                                        <hr>
                                                        <% } %>

                                                        <div class="secondary survey-column">
                                                            <ol>
                                                                <% _.each(feedback.get('responses'), function(response){ %>
                                                                    <li>
                                                                        <h5><%= response.text %></h5>
                                                                        <p><%= response.response %></p>
                                                                    </li>
                                                                    <% }); %>
                                                            </ol>
                                                        </div>
                                                        <hr>
                                                        <h3>Form Details</h3>
                                                        <div class="form-details secondary">
                                                            <div class="row collapse">
                                                                <div class="small-4 columns secondary-color">Name:</div><div class="small-8 columns">
                                                                <%= feedback.get("form").name %>
                                                            </div>

                                                            <% if (feedback.get("has_counter")){ %>
                                                                <div class="small-4 columns secondary-color">Return ID:</div><div class="small-8 columns">
                                                                <%= feedback.get("counter") %>
                                                            </div>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h3>Interaction Point Details</h3>
                                                    <div class="instance-details secondary">
                                                        <div class="row collapse">
                                                            <div class="small-4 columns secondary-color">Name:</div><div class="small-8 columns">
                                                            <%= feedback.get("instance").name %>
                                                        </div>
                                                        <div class="small-4 columns secondary-color">Location:</div><div class="small-8 columns">
                                                        <%= feedback.get("instance").location %>
                                                    </div>
                                                    <div class="small-4 columns secondary-color">Details:</div><div class="small-8 columns">
                                                    <%= feedback.get("instance").description %>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </script>

                                <script type="text/template" id="analytics-settings-template">
                                   <div class="row" id="analytics-settings">
                                      <div class="small-9 small-offset-3 columns">
                                         <div class="small-6 small-offset-2 columns">
                                            <div id="reportrange" class="rangepicker-box text-right">
                                               <span> </span><i class="fi-calendar"></i>
                                           </div>
                                       </div>
                                       <div class="small-4 columns">
                                        <div class="form-change">
                                           <form>
                                              <select>
                                                 <option>Select a form</option>
                                                 <% _.each(forms, function(form) { %>
                                                    <option id="<%= form.get('id') %>"><%= form.get('name') %></option>
                                                    <% }); %>
                                             </select>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </script>

                     <script type="text/template" id="analytics-choose-template">
                       <div class="row" id="form-analytics">
                          <div class="small-6 small-centered columns">
                             <div data-alert class="alert-box error">  Please select a daterange and form
                             </div>
                         </div>
                     </div>
                 </script>

                 <script type="text/template" id="analytics-do-not-exist-template">
                   <div class="row" id="form-analytics">
                      <div class="small-6 small-centered columns">
                         <div data-alert class="alert-box error">No analytics exist for this form.</div>
                     </div>
                 </div>
             </script>

             <script type="text/template" id="analytics-template">
               <div class="row" id="form-analytics">
                  <input type="hidden" value="<%= form_id %>" name="form_id">
                  <input type="hidden" value="<%= form_name %>" name="form_name">
                  <h2>Analytics for <%= form_name %></h2>
                  <div class="small-3 columns panel">
                     <ol class="question-list">
                        <% _.each(analytics.get('analytics'), function(analytic){ %>
                           <% if (analytic.field.id == field_analytics.field.id){ %>
                              <li id="<%= analytic.field.id %>" class="active"><%= analytic.field.text %></li>
                              <% } else { %>
                                 <li id="<%= analytic.field.id %>"><%= analytic.field.text %></li>
                                 <% } %>
                                 <% }); %>
                    </ol>
                </div>
                <div class="small-9 columns">
                 <div class="row">
                    <div class="small-8 columns text-center">
                       <canvas id="canvas0" height="450" width="450"></canvas>
                   </div>
                   <div class="small-4 columns">
                       <div class="form-result">
                          <h4>Form Results</h4>
                          <hr>
                          <div class="row">
                             <div class="small-9 ttl-text columns">
                                Total Responses:
                            </div>
                            <div class="small-3 ttl-number columns">
                                <%= field_analytics.total_responses %>
                            </div>
                        </div>
                        <hr>
                        <% _.each(field_analytics.numbers, function(number){ %>
                         <div class="row">
                            <div class="small-9 columns">
                               <div class="clabel" style="background:<%= number.color %>;">
                                  <%= number.text %>
                              </div>
                          </div>
                          <div class="small-3 columns">
                           <div class="clegend" style="color:<%= number.color %>;">
                              <%= number.number %>
                          </div>
                      </div>
                  </div>
                  <% }); %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="crm-template">
<div class="row">
    <div class="small-12 columns">
        <h2>Customers</h2>
        <ul class="feedback-list customer-list">
            <li class="row list-header">
                <span class="small-2 columns">
                Name
                </span>
                <span class="small-2 columns">
                Avg Spend
                </span>
                <span class="small-2 columns">
                Total Spend
                </span>
                <span class="small-2 columns">
                No. of Visits
                </span>
                <span class="small-2 columns">
                Customer score
                </span>
                <span class="small-2 columns">
                Last Visit
                </span>
            </li>
            <li class="row">
                <span class="small-2 columns">
                Rishabh Verma
                </span>
                <span class="small-2 columns">
                <small>&#8377;</small>320
                </span>
                <span class="small-2 columns">
                <small>&#8377;</small>720000
                </span>
                <span class="small-2 columns">
                7
                </span>
                <span class="small-2 columns">
                6.4
                </span>
                <span class="small-2 columns">
                about 3 days ago
                </span>
            </li>
             <li class="row">
                <span class="small-2 columns">
                Aditya Nayak
                </span>
                <span class="small-2 columns">
                <small>&#8377;</small>320
                </span>
                <span class="small-2 columns">
                <small>&#8377;</small>720000
                </span>
                <span class="small-2 columns">
                7
                </span>
                <span class="small-2 columns">
                6.4
                </span>
                <span class="small-2 columns">
                about 3 days ago
                </span>
            </li>
        </ul>
    </div>
</div>
</script>
<script type="text/template" id="crm-single-template">
<div class="panel ov-panel">
    <div class="customer-ov row">
        <div class="small-3 columns">
        <img class="circle-img bw-img" src="http://api.randomuser.me/0.3.1/portraits/women/19.jpg" >
        <hr>
        <div class="text-right">
            <h3 class="rc">Shruti Sharma</h3>
            <h4>+91 9871 473 345</h4>
            <h5>shruti.snyder11@example.com</h5>
        </div>
        </div>
        <div class="small-3 columns">
            <h4 class="bgc">Customer Experience</h4>
            <hr>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Satisfaction Score:
                </div>
                <div class="small-4 columns font-1-5x">
                    8.1
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Price-Value Score:
                </div>
                <div class="small-4 columns font-1-5x">
                    8.4
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Customer Segment:
                </div>
                <div class="small-4 columns font-1-5x">
                    Promoter
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns tertiary tertiary-color">
                    Last Feedback:
                </div>
                <div class="small-4 columns secondary">
                    14 days ago
                </div>
            </div>
        </div>
        <div class="small-3 columns">
            <h4 class="bc">Loyalty</h4>
            <hr>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Loyalty Score:
                </div>
                <div class="small-4 columns font-1-5x">
                    72
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Loyalty Points:
                </div>
                <div class="small-4 columns font-1-5x">
                    728<small>pts</small>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Total Checkins:
                </div>
                <div class="small-4 columns font-1-5x">
                    8
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns tertiary tertiary-color">
                    Last Checkin:
                </div>
                <div class="small-4 columns secondary">
                    12 days ago
                </div>
            </div>
        </div>
        <div class="small-3 columns">
            <h4 class="dbc">Sales</h4>
            <hr>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Average Value: 
                </div>
                <div class="small-4 columns font-1-5x">
                    <small>&#8377;</small>720
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns secondary-color">
                    Total Value:
                </div>
                <div class="small-4 columns font-1-5x">
                    <small>&#8377;</small>81000
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 columns tertiary tertiary-color">
                    Last buy:
                </div>
                <div class="small-4 columns secondary">
                    1 day ago
                </div>
            </div>
        </div>
    </div>
</div>
<div class="customer-history-ov">
    <div class="row">
        <div class="small-3 columns text-right fb-time secondary tertiary-color">
            <ul class="naked">
                <li>26 Dec, 2013 <i class="fi-calendar"></i></li>
                <li>10:30 PM <i class="fi-clock"></i></li>
                <li>Atta Market <i class="fi-marker"></i></li>
            </ul>
        </div>
        <div class="small-9 columns customer-history">
            <div class="panel">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <div class="row collapse">
                            <div class="small-8 columns secondary-color">
                                Satisfaction Score:
                            </div>
                            <div class="small-4 columns bgc font-1-5x">
                                7
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns">
                        <div class="row collapse">
                            <div class="small-8 columns secondary-color">
                                Loyalty Points:
                            </div>
                            <div class="small-4 columns font-1-5x bc">
                                32
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns">
                        <div class="row collapse">
                            <div class="small-8 columns secondary-color">
                                Value:
                            </div>
                            <div class="small-4 columns font-1-5x dbc">
                                <small>&#8377;</small>324
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns text-right fb-time secondary tertiary-color">
            <ul class="naked">
                <li>26 Dec, 2013 <i class="fi-calendar"></i></li>
                <li>10:30 PM <i class="fi-clock"></i></li>
                <li>Atta Market <i class="fi-marker"></i></li>
            </ul>
        </div>
        <div class="small-9 columns customer-history">
            <div class="panel">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <div class="row collapse">
                            <div class="small-8 columns secondary-color">
                                Satisfaction Score:
                            </div>
                            <div class="small-4 columns font-1-5x bgc">
                                7
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns">
                        <div class="row collapse">
                            <div class="small-8 columns secondary-color">
                                Loyalty Points:
                            </div>
                            <div class="small-4 columns font-1-5x bc">
                                32
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns">
                        <div class="row collapse">
                            <div class="small-8 columns secondary-color">
                                Value:
                            </div>
                            <div class="small-4 columns font-1-5x dbc">
                                <small>&#8377;</small>324
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<script type="text/template" id="interaction-template">
<div class="row">
    
    <h2>Interaction Details</h2>
    
</div>
<div class="panel row interaction-ov">
    <div class="small-3 columns">
        <h4 class="bgc">Customer Experience</h4>
        <hr>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Feedback Score: </div>
            <div class="small-4 columns">7</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Price Value Score: </div>
            <div class="small-4 columns">5</div>
        </div>
        <div class="row collapse secondary">
        <p class="s-ws-top">The feedback comment returned in 'How was your experience?' and is collected in a textbox. Adding some more wrods to see how the extra content breaks the design</p>
        </div>
        
        <div class="survey-column">
            <ol>
                <li>
                    <h5>Question 1 sdhf and som thing more to heck for content overflow</h5>
                    <p>No</p>
                </li>
            </ol>
        </div>
        
    </div>
    <div class="small-3 columns">
        <h4 class="bc">Loyalty</h4>
        <hr>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Total Points Earned: </div>
            <div class="small-4 columns">30</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Points for Checkin: </div>
            <div class="small-4 columns">10</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Points for Order: </div>
            <div class="small-4 columns">30</div>
        </div>
        <h4 class="b-ws-top yc">Location</h4>
        <hr>
        <div class="row collapse">
            <div class="small-6 secondary-color secondary columns">Time: </div>
            <div class="small-6 columns">6:30 PM</div>
        </div>
        <div class="row collapse">
            <div class="small-6 secondary-color secondary columns">Date: </div>
            <div class="small-6 columns">24, Feb, 2014</div>
        </div>
        <h4 class="s-ws-top">Interaction Point</h4>
        <div class="row collapse">
            <div class="small-6 secondary-color secondary columns">Name: </div>
            <div class="small-6 columns">Table 1</div>
        </div>
        <div class="row collapse">
            <div class="small-6 secondary-color secondary columns">Location: </div>
            <div class="small-6 columns">Sec-18, Noida</div>
        </div>
        <div class="row collapse">
            <div class="small-6 secondary-color secondary columns">Details: </div>
            <div class="small-6 columns">Something here</div>
        </div>
        
    </div>
    <div class="small-3 columns">
    <h4 class="dbc">Sales</h4>
        <hr>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Total sale: </div>
            <div class="small-4 columns"><small>&#8377;</small>3200</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Total Items: </div>
            <div class="small-4 columns">5</div>
        </div>
        <h5 class="b-ws-top">Details</h5>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Item 1</div>
            <div class="small-4 columns">598</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Item 2</div>
            <div class="small-4 columns">93</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Item 3</div>
            <div class="small-4 columns">238</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Item 4</div>
            <div class="small-4 columns">87</div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Item 5</div>
            <div class="small-4 columns">435</div>
        </div>
        <div class="b-ws-top b-ws-bottom">
            <div class="row collapse">
                <div class="small-8 secondary-color secondary columns">Discount 1  (-)</div>
                <div class="small-4 columns">98</div>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-8 secondary-color secondary columns">Tax 1</div>
            <div class="small-4 columns">23</div>
        </div>
    </div>
    <div class="small-3 columns">
        <h4 class="rc">Customer</h4>
        <hr>
        <img class="circle-img bw-img" src="http://api.randomuser.me/0.3.1/portraits/women/19.jpg">
        <h4 class="s-ws-top">Shruti Sharma</h4>
        <h5>+91 9874 876 762</h5>
        <h6>shruti.snyder11@example.com</h6>
        <div class="row collapse">
        <div class="small-4 text-center columns">
            <a href="#">Facebook</a>
            </div>
            <div class="small-4 columns text-center">
            <a href="#">Twitter</a>
            </div>
            <div class="small-4 columns text-center">
            <a href="#">Linked In</a>
            </div>
        
    </div>
</div>
</script>
<script type="text/template" id="feedback-forms-list-template">
<div class="row collapse">
    <div class="small-7 columns">
        <h2>Forms <a href="#/feedback_forms/new" class="button right tiny">Create New Form</a></h2>
    </div>
</div>
<div class="row">
    <div class="small-7 columns">
        <ul class="feedback-list forms-list">
            <li class="row list-header">
                <span class="small-1 cform columns"><input type="checkbox"></span>
                <span class="small-4 columns">Name</span>
            <!-- <span class="small-2 columns">Interaction Point</span> -->
                <span class="small-7 columns">Description</span>
            <!-- <span class="small-4 columns">
                   <span class="row collapse">
                      <span class="small-4 columns">This week</span>
                      <span class="small-4 columns">Last used</span>
                      <span class="small-4 columns">All time</span>
                  </span>
                </span> //TODO: these attributes are currently not being supplied by the API -->
            </li>
        	<% _.each(forms, function(form){ %>
        		<li class="row">
        			<span class="small-1 columns"><input type="checkbox"></span>
        			<span class="small-4 columns"><%= form.get("name") %></span>
                    <!-- <span class="small-2 columns">Table 1</span> //TODO: just showing the list of instances on right side -->
                    <span class="small-7 columns"><%= form.get("description") %></span>
                    <!-- <span class="small-4 columns">
                    <span class="row collapse">
                    	<span class="small-4 columns">16</span>
                    	<span class="small-4 columns">3 days</span>
                    	<span class="small-4 columns">108</span>
                    </span>
                    </span> //TODO: these attributes are currently not being supplied by the API -->
                    <input type="hidden" value="<%= form.get("id") %>">
                </li>
            <% }); %>
        </ul>
    </div>	
</div>
</script>

<script type="text/template" id="form-instances-side-list-template">
	<div class="small-5 columns">
		<div class="panel" id="form-instances-side-list">
			<h5>Associated Interaction Points</h5>
			<% if (instances.length > 0) { %>
				<a class="secondary" href="#/feedback_forms/<%= form_id %>/instances">View details</a>
				<ul class="side-nav">
					<% _.each(instances, function(instance){ %>
						<li><%= instance.get("name") %><a class="secondary right" href="http://customer.ingagelive.com#/<%= instance.get('id') %>">View</a></li>
						<% }); %>
				</ul>
				<% } else { %>
					<h6>No Interaction Points Associated</h6>
					<% } %>
					<a href="#/feedback_forms/<%= form_id %>/instances/new" class="button tiny">Create New Interaction Point</a>
				</div>
			</div>
		</script>

		<script type="text/template" id="form-instances-list-template">
			<div class="row">
				<div class="small-9 small-centered columns">
					<div class="row">
						<a class="secondary secondary-color" href="#/feedback_forms">Back to Form</a>
						<h2>Interaction Points attached to <em>"<%= form.get('name') %>"</em><a href="#/feedback_forms/<%= form.get('id') %>/instances/new" class="button right tiny">Create New Interaction Point</a></h2>
						<div class="small-12 columns">
							<ul class="feedback-list list-header">
								<li class="row read">
									<span class="small-1 cform columns"><input type="checkbox"></span>
									<span class="small-2 columns">Name</span>
									<span class="small-2 columns">Location</span>
									<span class="small-7 columns">Description </span>
								</li>
							</ul>
							<ul class="feedback-list">
								<% _.each(instances, function(instance){ %>
									<li class="row">
										<span class="small-1 cform columns"><input type="checkbox"></span>
										<span class="small-2 columns"><%= instance.get("name") %></span>
										<span class="small-2 columns"><%= instance.get("location") %></span>
										<span class="small-6 columns"><%= instance.get("description") %></span>
										<span class="small-1 columns"><a href="http://customer.ingagelive.com#/<%= instance.get('id') %>">View</a></span>

									</li>
									<% }); %>
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="form-creation-form-template">
			<div class="row">
				<h2>Coming Soon</h2>
				
			</div>
		</script>

		<script type="text/template" id="instance-creation-form-template">
			<div class="small-9 small-centered columns">
				<div class="row">
					<h2> Create a New Interaction Point for <em><%= form.get("name") %></em></h2>
					<form id="instances-form" name="login-form" class="small-6 columns panel">
						<fieldset>
							<div class="form-element">
								<label for="name">Interaction Point Name:</label>
								<input type="text" id="name" required placeholder="eg. feedback for new menu" name="name" />
								<label for="name">Interaction Point Location:</label>
								<input type="text" id="location" required placeholder="eg. Table No.1" name="location" />
								<label for="name">Interaction Point Description:</label>
								<textarea id="description" class="form-textarea" required name="description" placeholder="eg. Tablet kept at the table"></textarea>
								<input type="hidden" value="<%= form.get('id') %>" name="form_id">
							</div>
						</fieldset>
						<div class="form-element text-right">
							<button type="submit" class="small primary">Create Interaction Point</button>
						</div>
					</form>   
					<!-- <div class="small-5 small-offset-1 columns panel">
					<p>Place to show hints based on what input is on focus</p>
				</div> -->
			</div>
		</div>
	</script>

	<script type="text/template" id="footer-template">
		<footer class="row">
			<div class="small-12 columns secondary secondary-color">
				<hr />
				<div class="row">
					<div class="small-5 columns">
						<p>&copy; Copyright Mutiny Labs 2013</p>
					</div>
					<div class="small-7 columns">
						<ul class="inline-list nav-list right">
							<li><a href="#">Legal</a></li>
						</ul> 
					</div>
				</div>
			</div>
		</footer>
	</script>

	<script src="../assets/bower_components/foundation/js/foundation/foundation.js"></script>
	<script src="../assets/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
	<!-- <script src="../assets/bower_components/foundation/js/foundation/foundation.forms.js"></script>-->
	<script src="../assets/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="../assets/bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="js/plugins/chart.min.js"></script>
    <script src="js/plugins/moment.min.js"></script>
    <script src="js/plugins/daterangepicker.js"></script>
    <script src="js/plugins/jquery.tristate.min.js"></script>
    <script>
      $(document).foundation();
  </script>
  <script src="js/plugins/script.js"></script> <!-- //TODO: Fix the loading-bar fadein. It works in console -->

</body>
</html>
