<!DOCTYPE html>
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ingage Dashboard</title>

    <link rel="stylesheet" href="css/dashboard.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/custom.modernizr.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="js/backbone.basicauth.js"></script>
    <script src="js/md5.js"></script>
    <script src="http://timeago.yarp.com/jquery.timeago.js"></script>
    <script src="js/dashboard.backbone.js"></script>
</head>

<body>
    
    <div class="main-app"></div>

    <script type="text/template" id="login-template">
    <div class="contain-to-grid">
            <header class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="name">
                  <h1><a href="http://ingagelive.com"><img src="images/logo.png" alt="Ingage Dashbaord"></a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
              <section class="top-bar-section">
                <ul class="right">
                    <li><a href="#" >Contact</a></li>      
                </ul>
              </section>
            </header>
        </div>
        <div class="row login">
            <div class="small-4 columns">
         
                <p class="primary-message">Your in-venue customer feedback collection and management tool</p>
            </div>
            <div class="small-3 small-offset-1 columns">
                <img src="images/phone.png" >
            </div>
            <div class="small-3 small-offet-1 columns panel">
                <div class="login-alert">
                    <div class="alert-box error" style="display: none;" data-alert="">
                        Incorrect Username/Password
                    </div>
                </div>
                <form id="login-form" name="login-form" class="login-form">
                    <fieldset>
                        <div class="form-element">
                        <label for="name">Username: </label>
                        <input type="text" required id="name" name="username" />
                        <label for="password">Password: </label>
                        <input type="password" required id="password" name="password" />
                        </div>
                    </fieldset>
                        <div class="form-element text-right">
                        <button id="login-submit" type="submit" class="small fullwidth primary">Log in</button>
                            <div class="button small fullwidth loading" style="display:none;">
                            Loading
                                <span class="spinner-css">      
                                  <span class="side sp_left">
                                    <span class="fill"></span>
                                  </span>
                                  <span class="side sp_right">
                                    <span class="fill"></span>
                                  </span>
                                </span>
                            </div>
                        </div>
              
                </form>    
                <p class="secondary secondary-color">Want to Sign up? <br>Reach us at ingage@mutinylabs.in</p>
                      </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="header-template">
        <div class="contain-to-grid">
            <header class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="name">
                  <h1><a href="http://ingagelive.com"><img src="images/logo.png" alt="Ingage Dashbaord"></a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
              <section class="top-bar-section">
                <ul class="right">
                <li class="secondary-color namesyntax">Welcome <%= username %></li>
                                    <li><a href="#/feedback_forms" >System</a></li>
                                    <li><a href="#" >Log Out</a></li>      
                </ul>
              </section>
            </header>
        </div>

         <div class="row">
            <div class="small-6 small-centered columns">
                <div class="alert-bar">
              
                </div>
            </div>
        </div>

    </script>

    <script type="text/template" id="feedback-timeline-template">
        <div class="row collapse">
            <dl class="sub-nav action-nav small-12 columns">
            <dd class="checkbox-dd"><form class="custom"><input type="checkbox" id="checkbox1" style="display: none;"></form></dd>
            <dd class="active"><a href="#">All</a></dd>
            <dd><a href="#">Mark as Read</a></dd>
            <dd><a href="#">Delete</a></dd>
            <dd><a href="#">Label</a></dd>
            </dl>
        </div>

        <div class="stickem-container row">
            <div class="small-9 columns content feedback-column">
                <ul class="feedback-list feedback-timeline">
                    <% _.each(feedbacks, function(feedback){ %>
                        <li class="row">
                            <form class="custom small-1 columns"><input type="checkbox" id="checkbox1" style="display: none;"></form>
                            <span class="small-2 columns"><%= feedback.get("instance").name %></span>
                            <span class="small-7 columns feedback-content">
                                <span class="customer-name namesyntax">
                                    <% if (feedback.get("customer").name) { %>
                                        <strong><%= feedback.get("customer").name %></strong>
                                    <% } else { %>
                                        No Name
                                    <% } %>
                                </span> - 
                                <span class="customer-message">
                                    <%= feedback.get("text") %>
                                </span>
                            </span>
                            <span class="small-2 columns text-right secondary secondary-color"><%= $.timeago(new Date(feedback.get("received_at"))) %></span>
                            <input type="hidden" name="feedback_id" value="<%= feedback.get('id') %>">
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="timeline-customer-details-template">
        <div id="details" class="small-3 columns details-column aside stickem">
            <div class="panel">
                <h3 class="namesyntax">
                    <% if (feedback.get('customer').name) { %>
                        <%= feedback.get('customer').name %>
                    <% } else { %>
                        No Name
                    <% } %>
                </h3>
                <div class="row collapse">
                    <div class="small-3 columns">
                        <% if (feedback.get('customer').email) { %>
                            <img src="http://www.gravatar.com/avatar/<%= MD5(feedback.get('customer').email) %>">
                        <% } else { %>
                            <img src="http://www.gravatar.com/avatar/">
                        <% } %>
                        </div>
                        <div class="small-9 columns">
                        <ul class="naked secondary contact-details">
                            <li> 
                                <% if (feedback.get('customer').email) { %>
                                    <%= feedback.get('customer').email %>
                                <% } else { %>
                                    No e-Mail
                                <% } %>
                            </li>
                            <li>
                                <% if (feedback.get('customer').mobile) { %>
                                    <%= feedback.get('customer').mobile %>
                                <% } else { %>
                                    No Mobile
                                <% } %>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="secondary-color secondary row collapse">
                    <div class="text-left small-5 columns">
                        <% var received_at = new Date(feedback.get("received_at")) %>
                        <%= received_at.getHours() %>:<%= received_at.getMinutes() %>
                    </div>
                    <div class="text-right small-7 columns">
                        <%= received_at.getDate() %>-<%= received_at.getMonth() %>-<%= received_at.getFullYear() %>
                    </div>
                </div>
                <hr>
                <p class="secondary">
                    <%= feedback.get("text") %>
                </p>
                <h3>Instance Details</h3>
                <div class="form-details secondary">
                    <div class="row collapse">
                        <div class="small-4 columns secondary-color">Name:</div><div class="small-8 columns">
                            <%= feedback.get("instance").name %>
                        </div>
                        <div class="small-4 columns secondary-color">Location:</div><div class="small-8 columns">
                            <%= feedback.get("instance").location %>
                        </div>
                        <div class="small-4 columns secondary-color">Details:</div><div class="small-8 columns">
                            <%= feedback.get("instance").description %>
                        </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="feedback-forms-list-template">
        <div class="row">
            <h2>Forms <a href="#/feedback_forms/new" class="button tiny">Create New Form</a></h2>
            <div class="small-9 columns">
                <ul class="feedback-list list-header">
                    <li class="row read"><form class="custom small-1 columns"><input type="checkbox" id="checkbox1" style="display: none;"></form>
                    <span class="small-2 columns">Name</span>
                    <!-- <span class="small-2 columns">Instance</span> //TODO: just showing the list of instances on the right side-->
                    <span class="small-3 columns">Description</span>
                    <!-- <span class="small-4 columns">
                        <span class="row collapse">
                            <span class="small-4 columns">This week</span>
                            <span class="small-4 columns">Last used</span>
                            <span class="small-4 columns">All time</span>
                        </span>
                    </span> //TODO: these attributes are currently not being supplied by the API -->
                    </li>
                </ul>
                <ul class="feedback-list forms-list">
                    <% _.each(forms, function(form){ %>
                        <li class="row"><form class="custom small-1 columns"><input type="checkbox" id="checkbox1" style="display: none;"></form>
                            <span class="small-4 columns"><%= form.get("name") %></span>
                            <!-- <span class="small-2 columns">Table 1</span> //TODO: just showing the list of instances on right side -->
                            <span class="small-5 columns"><%= form.get("description") %></span>
                            <!-- <span class="small-4 columns">
                                <span class="row collapse">
                                    <span class="small-4 columns">16</span>
                                    <span class="small-4 columns">3 days</span>
                                    <span class="small-4 columns">108</span>
                                </span>
                            </span> //TODO: these attributes are currently not being supplied by the API -->
                            <input type="hidden" value="<%= form.get("id") %>">
                        </li>
                    <% }); %>
                </ul>
            </div>	
        </div>
    </script>

    <script type="text/template" id="form-instances-side-list-template">
        <div class="small-3 columns">
            <div class="panel" id="form-instances-side-list">
                <h5>Associated Instances</h5>
                <% if (instances.length > 0) { %>
                    <a class="secondary" href="#/feedback_forms/<%= form_id %>/instances">View details</a>
                    <ul class="side-nav">
                        <% _.each(instances, function(instance){ %>
                            <li><%= instance.get("name") %></li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <!-- TODO: style this -->
                    <h6>No Instances Associated</h6>
                <% } %>
                <a href="#/feedback_forms/<%= form_id %>/instances/new" class="button small">Create New Instance</a>
            </div>
        </div>
    </script>

    <script type="text/template" id="form-instances-list-template">
        <div class="row">
            <div class="small-9 small-centered columns">
                <div class="row">
                    <a class="secondary secondary-color" href="#/feedback_forms">Back to Form</a>
                    <h2>Instances attached to <em>"<%= form.get('name') %>"</em></h2>
                    <div class="small-12 columns">
                        <ul class="feedback-list list-header">
                            <li class="row read"><form class="custom small-1 columns"><input type="checkbox" id="checkbox1" style="display: none;"></form>
                                <span class="small-2 columns">Name</span>
                                <span class="small-2 columns">Location</span>
                                <span class="small-3 columns">Description </span>
                            </li>
                        </ul>
                        <ul class="feedback-list">
                            <% _.each(instances, function(instance){ %>
                                <li class="row"><form class="custom small-1 columns"><input type="checkbox" id="checkbox1" style="display: none;"></form>
                                    <span class="small-2 columns"><%= instance.get("name") %></span>
                                    <span class="small-2 columns"><%= instance.get("location") %></span>
                                    <span class="small-3 columns"><%= instance.get("description") %></span>
                                </li>
                            <% }); %>
                        </ul>
                    </div>	
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="form-creation-form-template">
        <div class="row">
            <h2>Create a New Form</h2>
            <div class="small-9 small-centered columns">
                <div class="row">
                    <form id="form-form" name="form-form" class="small-6 columns panel">
                        <fieldset>
                            <div class="form-element">
                                <label for="name">Form Name:</label>
                                <input type="text" id="instance-name" required placeholder="eg. feedback for new menu" name="name" />
                                <label for="name">Form Description:</label>
                                <textarea id="instance-description" class="form-textarea" required name="description" placeholder="eg. Tablet kept at the table"></textarea>
                            </div>
                        </fieldset>
                        <div class="form-element text-right">
                            <button type="submit" class="medium success">Create Form</button>
                        </div>
                    </form>   
                    <div class="small-4 small-offset-1 columns panel">
                        <p>Place to show hints based on what input is on focus</p>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="instance-creation-form-template">
        <div class="small-9 small-centered columns">
            <div class="row">
                <h2> Create a New instance for <em><%= form.get("name") %></em></h2>
                <form id="instances-form" name="login-form" class="small-6 columns panel">
                    <fieldset>
                        <div class="form-element">
                            <label for="name">Instance Name:</label>
                            <input type="text" id="name" required placeholder="eg. feedback for new menu" name="name" />
                            <label for="name">Instance Location:</label>
                            <input type="text" id="location" required placeholder="eg. Table No.1" name="location" />
                            <label for="name">Instance Description:</label>
                            <textarea id="description" class="form-textarea" required name="description" placeholder="eg. Tablet kept at the table"></textarea>
                            <input type="hidden" value="<%= form.get('id') %>" name="form_id">
                        </div>
                    </fieldset>
                    <div class="form-element text-right">
                        <button type="submit" class="small primary">Create instance</button>
                    </div>
                </form>   
                <div class="small-5 small-offset-1 columns panel">
                    <p>Place to show hints based on what input is on focus</p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="footer-template">
        <footer class="row">
            <div class="small-12 columns secondary secondary-color">
                <hr />
                <div class="row">
                    <div class="small-5 columns">
                        <p>&copy; Copyright Mutiny Labs 2013</p>
                    </div>
                    <div class="small-7 columns">
                        <ul class="inline-list nav-list right">
                            <li><a href="#">Legal</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </footer>
    </script>
    
    <!-- <script src="js/vendor/jquery.js"></script> -->
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>
	<script src="js/foundation/foundation.forms.js"></script>
    <script src="js/plugins/script.js"></script>
    <script>
        $(document).ready(function() {
            $(document).foundation();
        });
    </script>
    
</body>
</html>
