<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Customer Feedback</title>

	<link rel="stylesheet" href="../assets/css/form.css">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
	<!--    <script src="js/custom.modernizr.js"></script> -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<script src="js/vendor/backbone.touch.js"></script>
	<script src="js/customer.backbone.js"></script>
	<!-- <script src="js/jquery.mobile-events.min.js"></script> -->
	<script src="js/plugins/jquery.fullPage.min.js"></script>
    <script src="js/plugins/jquery.nouislider.js"></script>
</head>
<body>
	<script type="text/template" id="feedback-form-template">
		<ol class="section-list">
            <% var fields = form.get('fields') %>
            <% _.each(fields, function(field){ %>
            
                <% if (field.type == 'YN') { %>
                    <div class="yes-no section row" data-anchor="">
                        <div class="row">
                            <li class="small-11 small-centered columns">
                                <h3><%= field.text %></h3>
                            </li> 
                        </div>
                        <div class="row">
                            <div class="small-10 columns small-centered">
                                <div class="row">
                                    <div class="small-5 columns intr-color intr-btn yes" response="YES">
                                        <div><i class="fi-like"></i></div>
                                        <div>Yes</div>
                                    </div>
                                    <div class="small-5 columns intr-color intr-btn no" response="NO">
                                        <div><i class="fi-dislike"></i></div>
                                        <div>No</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="field_id" value="<%= field.id %>">
                    </div>
                <% } %>

                <% if (field.type == 'ST') { %>
                    <div class="multiple rating section row" data-anchor="">
                        <div class="row">
                            <li class="small-11 small-centered columns">
                                <h3><%= field.text %></h3>
                            </li>
                        </div>
                        <div class="row">
                            <div class="small-10 columns small-centered">
                                <ul>
                                    <li class="intr intr-color" response="1">
                                        <i class="fi-star"></i>
                                    </li>
                                    <li class="intr intr-color" response="2">
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                    </li>
                                    <li class="intr intr-color" response="3">
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                    </li>
                                    <li class="intr intr-color" response="4">
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                    </li>
                                    <li class="intr intr-color" response="5">
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                        <i class="fi-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="field_id" value="<%= field.id %>">
                    </div>
                <% } %>

                <% if (field.type == 'MT') { %>
                    <div class="multiple section row" data-anchor="">
                        <div class="row">
                            <li class="small-11 small-centered columns">
                                <h3><%= field.text %></h3>
                            </li>
                        </div>
                        <div class="row">
                            <div class="small-10 columns small-centered">
                                <ul>
                                    <% choices = field.choices %>
                                    <% _.each(choices, function(choice) { %>
                                        <li class="intr intr-color" response="<%= choice %>"><%= choice %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="field_id" value="<%= field.id %>">
                    </div>
                <% } %>                    

                <% if (field.type == 'TT') { %>
                    <div class="small-input section row" data-anchor="">
                        <li class="small-11 small-centered columns">
                            <div class="right hide sec intr-color done intr-btn">Done</div>  
                            <h3><%= field.text %></h3>
                        </li>
                        <div class="small-10 columns small-centered">
                            <input type="text" name="tt_response">
                        </div>
                        <input type="hidden" name="field_id" value="<%= field.id %>">
                    </div>
                <% } %>                    

            <% }); %>
			<div class="input-slider section row" data-anchor="">
				<li class="small-11 small-centered columns">
					<div class="right sec intr-color done intr-btn">Done</div>  
                    <h3><%= form.get('nps_score_heading') %></h3>
				</li>
				<div class="small-10 small-centered columns">
					<div id="show-serialization-field" class="text-center nps-score"></div>
					<div id="nps-rating"> 
					</div>
				</div>
            </div>
			<div class="large-input section row" data-anchor="">
				<li class="small-11 small-centered columns">
					<div class="right hide sec intr-color done intr-btn">Done</div>  
                    <h3><%= form.get('feedback_heading') %></h3>
				</li>
				<div class="small-10 columns small-centered">
					<textarea></textarea>
				</div>
			</div>

			<div class="customer-details section row" data-anchor="">
				<li class="small-11 small-centered columns">
					<div id="form-submit-btn" class="right hide button small">Submit</div>  
                    <h3><%= form.get('customer_details_heading') %></h3> 
				</li>
				<div class="small-10 columns small-centered">
					<label for="name">Name: </label>
					<input type="text" id="name" name="name" placeholder="Your Name" />
					<label for="email">Email: </label>
					<input type="email" id="email" name="email" placeholder="you@email.com" />
					<label for="phone">Phone: </label>
					<input type="tel" id="phone" name="phone" placeholder="xxx-xxx-xxxx" />
				</div>
			</div>

		</ol>
        <input type="hidden" name="id" value="<%= instance_id %>">
		
	</script>

	<script type="text/template" id="feedback-form-not-exists-template">
		<div class="row">
			<div class="small-11 small-centered columns">
				<h3>The Feedback Form Does Not Exist.</h3>
			</div>
		</div>
	</script>

	<script type="text/template" id="feedback-form-success-template">
		<div class="row">
			<div class="small-11 small-centered columns">
				<div data-alert class="alert-box success">
                    Feedback submitted successfully
				</div>
                <h3 class="text-center">Thank you</h3>
                <% if (feedback.get('has_counter')){ %>
                    <h3 class="text-center">Return ID <%= feedback.get('counter') %></h3>
                    <!-- <h3 class="text-center"><a href="#/<%= instance_id %>">Link to Form Again</a></h3> -->
                <% } else { %>
<!--                    <h3 class="text-center">This Form does not have Counter Facility.</h3>
                    <h3 class="text-center"><a href="#/<%= instance_id %>">Link to Form Again</a></h3> -->
                <% } %>
        </div>
		</div>
	</script>
</body>
</html>
