<div class="row">
	<li class="small-11 small-centered columns">
	    <h3><%= text %></h3> 
	</li>
</div>
<div class="row">
	<div class="small-10 columns small-centered">
	    <label for="name">Name: </label>
	    <input type="text" id="name" name="customer_name" autocorrect="off" placeholder="Your Name" />
	    <label for="email">Email: </label>
	    <input type="email" id="email" name="customer_email" autocorrect="off" autocapitalize="off" placeholder="you@email.com" />
	    <label for="phone">Phone: </label>
	    <input type="tel" id="phone" name="customer_mobile" autocorrect="off" placeholder="xxx-xxx-xxxx" />
	</div>
</div>
<div class="row">
	<div class="small-10 columns small-centered">
		<div id="form-submit-btn" class="right hide button">Submit</div>
		<div id="btn-loading" class="right hide">
			<span class="spinner-css">      
	            <span class="side sp_left">
	                <span class="fill"></span>
	            </span>
	            <span class="side sp_right">
	                <span class="fill"></span>
	            </span>
        	</span>
		</div>
	</div>
</div>
