<li class="small-11 small-centered columns">

    <div id="form-submit-btn" class="right hide button small">Submit</div>  
    <h3><%= text %></h3> 

</li>

<div class="small-10 columns small-centered">

    <label for="name">Name: </label>
    <input type="text" id="name" name="name" placeholder="Your Name" />

    <label for="email">Email: </label>
    <input type="email" id="email" name="email" placeholder="you@email.com" />

    <label for="phone">Phone: </label>
    <input type="tel" id="phone" name="phone" placeholder="xxx-xxx-xxxx" />

</div>
