<div class="row">
	<li class="small-11 small-centered columns">
	    <h3><%= text %></h3>
	</li>
</div>
<div class="row">
	<div class="small-12 small-centered columns">
	    <div id="show-serialization-field" class="text-center nps-score"></div>
	    <div class="row nps-slider">
		    <div class="small-1 columns text-right">
				<i class="fi-dislike"></i>
			</div>
			<div class="small-10 columns">
				<div id="nps-rating"></div>
			</div>
			<div class="small-1 columns text-left">
				<i class="fi-like"></i>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-10 small-centered columns">
		<div class="right intr-color done intr-btn">Done</div> 
	</div>
</div>
