<li class="small-11 small-centered columns">

    <div class="right sec intr-color done intr-btn">Done</div>  
    <h3><%= text %></h3>

</li>

<div class="small-10 small-centered columns">

    <div class="text-center nps-number">
        <output name="nps" class="nps-score" id="rangevalue">7</output>
    </div>
    <div class="text-center nps-range">
        <input name="nps" type="range" min="1" max="10" value="7" class="fullwidth" step="1" onchange="rangevalue.value=value" />
    </div>

</div>
