<div class="row">

    <li class="small-11 small-centered columns">
        <h3><%= text %></h3>
    </li>

</div>

<div class="row">

    <div class="small-10 columns small-centered">
        <ul>

            <li class="intr intr-color" response="1">
                <i class="fi-star"></i>
            </li>

            <li class="intr intr-color" response="2">
                <i class="fi-star"></i>
                <i class="fi-star"></i>
            </li>

            <li class="intr intr-color" response="3">
                <i class="fi-star"></i>
                <i class="fi-star"></i>
                <i class="fi-star"></i>
            </li>

            <li class="intr intr-color" response="4">
                <i class="fi-star"></i>
                <i class="fi-star"></i>
                <i class="fi-star"></i>
                <i class="fi-star"></i>
            </li>

            <li class="intr intr-color" response="5">
                <i class="fi-star"></i>
                <i class="fi-star"></i>
                <i class="fi-star"></i>
                <i class="fi-star"></i>
                <i class="fi-star"></i>
            </li>

        </ul>
    </div>

</div>
