<div class="row">

    <li class="small-11 small-centered columns">
        <h3><%= text %></h3>
    </li> 

</div>

<div class="row">
    <div class="small-10 columns small-centered">
        <div class="row">

            <div class="small-5 columns intr-choice intr-color intr-btn yes" data-response="YES">
                <div><i class="fi-like"></i></div>
                <div>Yes</div>
            </div>

            <div class="small-5 columns intr-choice intr-color intr-btn no" data-response="NO">
                <div><i class="fi-dislike"></i></div>
                <div>No</div>
            </div>

        </div>
    </div>
</div>
