// Global Foundation Settings


@import "foundation/settings";
@import "foundation/settings-form";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
@import
//  "foundation/components/accordion",
"foundation/components/alert-boxes",
//  "foundation/components/block-grid",
//  "foundation/components/breadcrumbs",
//  "foundation/components/button-groups",
"foundation/components/buttons",
//  "foundation/components/clearing",
//  "foundation/components/dropdown",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/grid",
//  "foundation/components/inline-lists",
//  "foundation/components/joyride",
//  "foundation/components/keystrokes",
//  "foundation/components/labels",
//  "foundation/components/magellan",
//  "foundation/components/orbit",
//  "foundation/components/pagination",
//  "foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/reveal",
//  "foundation/components/side-nav",
//  "foundation/components/split-buttons",
//  "foundation/components/sub-nav",
//  "foundation/components/switch",
//  "foundation/components/tables",
//  "foundation/components/tabs",
//  "foundation/components/thumbs",
//  "foundation/components/tooltips",
//"foundation/components/top-bar",
"foundation/components/type";
//  "foundation/components/offcanvas",
//"foundation/components/visibility";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import "compass/css3/transition";

@import "foundation-icons";
@import "nouislider";
@import "scroll";

.loading-form{
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-30px;
	margin-top:-30px;
}
.section-list{
	margin-left:0 !important;
}

textarea{
	min-height:7.5em;
}
.fi-like{
	color:$green;
}
.fi-dislike{
	color:$red;
}
.alert-box.error{
	background-color:$red;
	color:$white;
	border-color: darken($red,15%);
}
.rq{
	background:$red;
	@include transition(background 0.5s);
}
.rq-rm{
	background:$white;
	@include transition(background 0.5s);	
}
.intr-color{
	background-color:$lightgrey;
	border:1px solid $grey;
	color:$black;
	box-shadow:0 1px 1px $grey;
	&:active{
		background-color:$success-color;
		border:1px solid darken($success-color,10%);
	}
}
.intr-btn{	
	font-size: 1.25em;
	padding:0.5em 1em;	
	text-align: center;
	
}
.intr{
	list-style: none;
	padding:0.25em 1em;
	margin:0.5em 0;
	
}
.sec{
	font-size:0.75em !important;
}
.sec-color{
	color:$black !important;
}
.yes-no{
	i{
		font-size: 1.5em;
	}
}

.nps-score{
	font-weight: 300;
	font-size: 3.6em;
	padding:0.25em;
}
.nps-slider{
i{
	font-size:3em;
}
}
.input-slider{
	.nps-number{

	}
	.nps-range{
		input[type='range'] {
			-webkit-appearance: none;
			border-radius: 2px;
			box-shadow: inset 0 0 3px $grey;
			background-color: $lightgrey;
			height: 10px;
			vertical-align: middle;
			padding: 0;
		}
		input[type='range']::-moz-range-track {
			-moz-appearance: none;
			border-radius: 2px;
			box-shadow: inset 0 0 3px #333;
			background-color: $lightgrey;
			height: 10px;
			padding:0;
		}
		input[type='range']::-webkit-slider-thumb {
			-webkit-appearance: none !important;
			background-color:$formcolor;
			border: 1px solid scale-color($formcolor, $lightness:-10%);
  			border-radius: 3px;
			height: 48px;
			width: 64px;
			position:relative;
			&:before, &:after{
			  content: "";
			  display: block;
			  position: absolute;
			  height: 24px;
			  width: 2px;
			  background: darken($formcolor,20%);
			  left: 28px;
			  top: 12px;
			}
			&:after{
				left: 32px;
			}
		}
		input[type='range']::-moz-range-thumb {
		-webkit-appearance: none !important;
			background-color:$formcolor;
			border: 1px solid scale-color($formcolor, $lightness:-10%);
  			border-radius: 3px;
			height: 48px;
			width: 64px;
			position:relative;
			&:before, &:after{
			  content: "";
			  display: block;
			  position: absolute;
			  height: 24px;
			  width: 2px;
			  background: darken($formcolor,20%);
			  left: 28px;
			  top: 12px;
			}
			&:after{
				left: 32px;
			}
		}
	}
}
.fi-star{
		color: $yellow;
		margin:0 0.25em;
		font-size: 1.1em;
	}
.small-input{
	input{
		margin-bottom: 0.25em;
	}
}

.customer-details{
	label{
		display: none;
	}
}
.response{
	box-shadow:0 0 2px 2px $blue;
	}
.s-ws-top{
	margin-top:1em !important;
}
.s-ws-bottom{
	margin-bottom:1em !important;
}
.m-ws-top{
	margin-top:2em !important;
}
.m-ws-bottom{
	margin-bottom:2em !important;
}
.b-ws-top{
	margin-top:3em !important;
}
.b-ws-bottom{
	margin-bottom:3em !important;
}
@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} {
	.intr-btn{	
		font-size: 1em;
		padding:0.5em 1em;	
		text-align: center;
		
	}
	.intr{
		list-style: none;
		padding:0.75em 1em;
		margin:0.5em 0;
		
	}
	.customer-details{
		label{
			display: block;
		}
	}

}
@media #{$medium-only} {
}

@media #{$large-up} {
.section{
	input, textarea{
		font-size:1.4rem;
		padding:0.5em;
		height:3.2rem;
	}
}

}
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }

.kabliwalas-form-1{
	.load-screen{
		background:#FFA238;
	}
	.load-bg{
		background:url('http://www.kabliwalas.com/images/im_003.jpg');
		padding: 10em 0;
	}
	.txt-bg{
		background:rgba($black,0.8);
		color:$white;
		padding:1em;
	}
	h3{
		color:#9D1B1D;
	}
	input,textarea{
		border:2px dotted #9D1B1D !important;	
	}
}
.oyo-form-1{
	.load-screen{
		
	}
	.load-bg{
		
		padding: 10em 0;
	}
	.txt-bg{
		
	}
	h3,h2{
		color:#EE3F3F;
	}
	input,textarea{
		border:2px dotted #EE3F3F !important;
	}
}