// Global Foundation Settings

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "settings";
@import "settings-form";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

 @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.

 @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
 @import "foundation/components/buttons";
 @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.next{
	display:none;
}
.current{
	display:none;
}
textarea{
	min-height:10em;
}
.contactdetails{
	p{
		line-height: 1.5;
		font-size: 0.8em;
	}
}
.header{
	background:$white;
	padding:0.5em 0;
	border-bottom:1px solid $grey;
}
.input-bottom{
	border-top:1px solid $grey;	
	background:$white;
	a{
		color:$white;
	}
	.fa{
		font-size:2em;
	}

}
.rating {
    unicode-bidi:bidi-override;
    direction:rtl;
    font-size:2.5em;
	span.star {
	    font-family:FontAwesome;
	    font-weight:normal;
	    font-style:normal;
	    display:inline-block;
	    width:16%;
	    text-align:center;
	    padding:1em 0;
			&:before {
		    content:"\f006";
		    padding:0;
		    color:$grey;
			}
	}
}
.rating span.star:hover:before, .rating span.star:hover~span.star:before {
    content:"\f005";
    color:$yellow;
}
.survey{
	list-style:none;
	padding:0;
	li{
		padding:0.5em;
		font-size: 1.2em;
		border:1px solid $grey;
		margin:0.2em 0;
	}
}